<label class="switch">
    <input type="checkbox" />
    <span class="slider">
        <span class="circle">
        <span class="shine shine-1"></span>
        <span class="shine shine-2"></span>
        <span class="shine shine-3"></span>
        <span class="shine shine-4"></span>
        <span class="shine shine-5"></span>
        <span class="shine shine-6"></span>
        <span class="shine shine-7"></span>
        <span class="shine shine-8"></span>
        <span class="moon"></span>
        </span>
    </span>
</label>
